@font-face {
  font-family: "Ubuntu-Bold";
  src: url("./assets/fonts/Ubuntu-Bold.woff2") format("woff2"),
    url("./assets/fonts/Ubuntu-Bold.woff") format("woff");
}
@font-face {
  font-family: "Ubuntu-Medium";
  src: url("./assets/fonts/Ubuntu-Medium.woff2") format("woff2"),
    url("./assets/fonts/Ubuntu-Medium.woff") format("woff");
}
@font-face {
  font-family: "Ubuntu-Regular";
  src: url("./assets/fonts/Ubuntu-Regular.woff2") format("woff2"),
    url("./assets/fonts/Ubuntu-Regular.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
}
:root {
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
}
.container {
  background-color: var(--magnolia);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}
.container-wrapper {
  display: flex;
  width: min(60rem, 90%);
  height: 40rem;
  background-color: white;
  border-radius: 1rem;
  /* overflow: scroll; */
}
.sidebar {
  width: 25rem;
  background-image: url(./assets/images/bg-sidebar-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 1rem 0rem 1rem 1rem;
  border-radius: 1rem;
}
.sidebar-steps {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 2rem;
  width: fit-content;
  margin: 18% auto auto 12%;
}
.sidebar-step {
  display: flex;
  column-gap: 1rem;
  color: white;
}
.sidebar-item-num {
  font-family: "Ubuntu-Medium", sans-serif;
  display: flex;
  width: 2rem;
  height: 2rem;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  border-radius: 50%;
}

.sidebar-text p {
  font-family: "Ubuntu-Regular", sans-serif;
  opacity: 60%;
  font-size: 0.85rem;
  margin-bottom: 0.2rem;
}
.sidebar-item-bottom {
  font-family: "Ubuntu-Medium", sans-serif;
  font-size: 0.9rem;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: calc((100% / 3) * 2);
  margin: 1rem 0rem;
  padding: 2rem;
}
.main-steps {
  display: flex;
  height: 500px;
  flex-direction: column;
}
.main-step {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
form {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.form-field {
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
}
.form-field input {
  height: 2.8rem;
  padding-left: 0.5rem;
  border-radius: 0.5rem;
}
#name:invalid,
#email:invalid,
#phone:invalid {
  border-color: rgb(255, 30, 0);
}

h1,
h4 {
  font-family: "Ubuntu-Bold", sans-serif;
  color: var(--marine-blue);
  font-weight: 600;
  margin-bottom: 0.3rem;
}
h1 {
  margin-bottom: 0.6rem;
}
.head-part {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}
p {
  font-family: "Ubuntu-Regular", sans-serif;
  white-space: nowrap;
  color: var(--light-gray);
}
.main-step p {
  color: var(--cool-gray);
}
form .form-field label {
  color: var(--marine-blue);
  font-weight: 600;
}
.empty {
  flex: 1 2 15%;
}
.plan-types {
  display: flex;
  column-gap: 5%;
}
.plan-type {
  display: flex;
  width: 30%;
}
.plan-type :hover {
  background-color: var(--magnolia);
}

.content {
  width: 100%;
  display: flex;
  row-gap: 3rem;
  padding: 1rem;
  flex-direction: column;
  border: 1px solid rgb(170, 168, 168);
  border-radius: 0.5rem;
  cursor: pointer;
}
input[type="radio"] {
  display: none;
}
.plan-step {
  justify-content: flex-start;
}
.plan-period {
  font-family: "Ubuntu-Regular", sans-serif;

  display: flex;
  justify-content: center;
  column-gap: 1rem;
}
.toggle-monthly {
  color: var(--marine-blue);
}
.toggle-yearly {
  color: var(--light-gray);
}
.toggle {
  position: relative;
  display: inline-block;
  width: 2.5rem;
  height: 1.3rem;
}

.toggle input {
  display: none;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: var(--marine-blue);
  transition: 0.4s;
  border-radius: 1rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 0.9rem;
  width: 0.9rem;
  top: 0.2rem;
  left: 0.2rem;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input:checked + .slider:before {
  transform: translateX(1.2rem);
}
.step-2-main {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.plan-period {
  background-color: var(--alabaster);
  padding: 1rem;
}
.monthly-or-yearly {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

.add-ons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.add-on {
  padding: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--light-gray);
  border-radius: 0.5rem;
}
.add-ons :hover {
  background-color: var(--magnolia);
}

.add-on > input[type="checkbox"] {
  aspect-ratio: 1;
  width: 1.2rem;
  accent-color: var(--purplish-blue);
}

.add-on :first-child {
  margin-right: 1.5rem;
}
.add-on div:last-child {
  margin-left: auto;
  color: var(--marine-blue);
}
.summary-step {
  justify-content: flex-start;
}
.summary-table {
  display: flex;
  flex-direction: column;
}
.table-head {
  background-color: var(--alabaster);
  padding: 1.5rem;
  border-radius: 1rem;
}
.table-head a {
  color: var(--cool-gray);
}
.table-head > * {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.table-data {
  display: flex;
  flex-direction: row;
}
hr {
  margin: 0px;
}
.table-data {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}
.table-footer {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}
.table-footer div {
  color: var(--purplish-blue);
  font-family: "Ubuntu-Bold", sans-serif;
  font-size: 1.3rem;
}
.summary-data {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.thank-you {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
  margin: auto;
}
.thank-you p {
  white-space: normal;
}
.bottom-buttons {
  display: flex;
  margin-bottom: 0;
  justify-content: space-between;
}

.next-btn {
  background-color: var(--marine-blue);
  color: white;
  width: 8rem;
  height: 3rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  caret-color: white;
  margin-left: auto;
}
.back-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.display-none {
  display: none;
}
